{% load static %}
<footer class="footer">
  <div class="text-light text-center fw-bold" style="background-color: rgb(6, 6, 135);"><a class="text-light" href="#">Back to top</a></div>
    <div class="container-fluid" style="background-color:rgb(4, 9, 90);" >
     
        <div class="row d-flex">

        <div class="col-6 col-sm-6 col-md-3 col-md-3 d-flex justify-content-center ">
          <ul class="quick-links text-light mx-auto">
            <h4 class="text-light text-decoration-underline py-2">About & Policy</h4>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'collection' %}">Shop</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
          </ul>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-md-3 d-flex justify-content-center ">
          <ul class="quick-links text-light mx-auto">
            <h4 class="text-light text-decoration-underline py-2">Address</h4>
            <li class="text-light">Vijaya Nagar,<br> Velacherry, <br>Chennai-600042. <br> Tamil Nadu, India.</li>
            <li class="text-light"> trumpkartshoppy@gmail.com</li>
            <li class="text-light" > +91 8220557366</li>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-md-3 d-flex ">
          <ul class="quick-links text-light mx-auto">
            <h4 class="text-light text-decoration-underline py-2">Help</h4>
            <li><a href="{% url 'support_team' %}?section=feeback">Feedback</a></li>
            <li><a href="{% url 'support_team' %}?section=payments">payments & Refund</a></li>
            <li><a href="{% url 'support_team' %}?section=shipping">Shipping & Cancellation</a></li>
            <li><a href="{% url 'support_team' %}?section=return">Return</a></li>
          </ul>
        </div>
         
         
        
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 float-end ">
          <div class="d-flex justify-content-start">
          <ul class="social-media text-light text-center mx-auto">
            <h4 class="text-light text-decoration-underline float-start">Social Links</h4>
            <li><a href="https://www.facebook.com/profile.php?id=61564594587887"><i class="fa-brands fa-facebook" style="color: blue;"></i></a></li>
            <li><a href="https://x.com/KartTrump75841"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="color: rgb(250, 7, 177);"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin" style="color: rgb(50, 50, 224);"></i></a></li>
          </ul>
        </div>
        </div>
      </div>
      <hr class="container bg-white">
      <div class="row">
        <div class="text-center text-light">
          <p class="text-light mb-3 fw-normal copy">&copy; 2024 TrumpKart. All rights reserved.</p>
        </div>
      </div>
      </div>
  </footer>
  