
{% extends 'Shop/layouts/main.html' %}

{% block title %}
About | TrumpKart
{% endblock title %}

{% block content %}

<h1 class="h2 text-center text-info py-2 fw-bold">About Us</h1>
<div class="container text-white">
    <li class="text-dark li">Our Journey</li>
    <p class="text-dark">   
     Welcome to TrumpKart! We're thrilled to have you here. Our journey began in 2024, with a simple yet powerful mission: to bring you the best in Shofify. Founded by kishore Subramani, started as a small venture with big dreams. Today, we've grown into a thriving business, serving countless satisfied customers around the world.
    </p>

    <li class="text-dark li">Our Mission</li>
    <p class="text-dark">At TrumpKart, we're dedicated to [your mission, e.g., providing high-quality, eco-friendly products that make life better and brighter]. Our commitment to excellence drives everything we do, from product selection to customer service. We believe in [core values, e.g., sustainability, innovation, and integrity], and these principles guide our every decision.</p>
    <p >TrumpKart is an independent online shopping Application owened by TrumpKart private Limited. TrumpKart currently offers over 100,00 products across the world. We provide safe and sure Home delivery across the World with return policy.</p>
    <li class="h3 text-light bg-secondary text-center py-2 my-2">Some of the Speciality of TrumpKart</li>
    <ul class="text-dark">
        <li class="li">Trumpkart is one the Growing Online Shopping site. Millons Of Trusted Users around the world.  </li><br>
        <li class="li">Our Prime customers Enjoys unlimited Same day delivery with Exiciting Offers.</li><br>
        <li class="li"> We provide 24/7 customer support accross the world.</li><br>
        <li class="li">TrumpKart can be Accessed At <a href="{% url 'home' %}">www.TrumpKart.com</a> .</li>
    </ul>
</div>




{% endblock content %}