
{% extends 'Shop/layouts/main.html' %}

{% block title %}
Register|Ecom
{% endblock title %}

{% block content %}

<div class="container my-2">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="  text-dark text-center bg-warning fw-bold " style="font-family: serif;"> Address Form</h2>
            
                <form id="checkout-form" method="POST" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Full Name:</label>
                    {{form.name}}
                    {% if form.name.errors %}
                    <div class="text-danger">{{ form.name.errors }}</div>
                    {% endif %}
                   </div>

                   <div class="my-1">
                    <label for="" class="form-label fw-bold">House,flat:</label>
                    {{form.house}}
                    {% if form.house.errors %}
                    <div class="text-danger">{{ form.house.errors }}</div>
                    {% endif %}
                   </div>

                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Street,Area:</label>
                    {{form.area}}
                    {% if form.area.errors %}
                    <div class="text-danger">{{ form.area.errors }}</div>
                    {% endif %}
                   </div>

                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Address:</label>
                    {{form.address}}
                    {% if form.address.errors %}
                    <div class="text-danger">{{ form.address.errors }}</div>
                    {% endif %}
                   </div>

                   <div class="my-1">
                    <label for="" class="form-label fw-bold">City:</label>
                    {{form.city}}
                    {% if form.city.errors %}
                    <div class="text-danger">{{ form.city.errors }}</div>
                   {% endif %}
                   </div>
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">State:</label>
                    {{form.state}}
                    {% if form.state.errors %}
                    <div class="text-danger">{{ form.state.errors }}</div>
                    {% endif %}
                   </div>
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Country:</label>
                    {{form.country}}
                    {% if form.country.errors %}
                    <div class="text-danger">{{ form.country.errors }}</div>
                    {% endif %}
                   </div>
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Zipcode:</label>
                    {{form.zipcode}}
                    {% if form.zipcode.errors %}
                    <div class="text-danger">{{ form.zipcode.errors }}</div>
                    {% endif %}
                   </div>
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Mobile NO:</label>
                    {{form.phone}}
                    {% if form.phone.errors %}
                    <div class="text-danger">{{ form.phone.errors }}</div>
                    {% endif %}
                   </div>
                   <div class="my-1">
                    <label for="" class="form-label fw-bold">Email:</label>
                    {{form.email}}
                    {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                   </div>
                   <label for="" class="form-label">
                    <input type="checkbox" class="from-check"> Default address
                   </label>
          </div> 
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="fw-bold text-light text-center bg-primary" style="font-family: serif;"><i class="fa-solid fa-cart-shopping fs-4" ></i> Cart Item</h2>
            <table class="table table-stripped">
                <thead>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total_cost</th>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td><img src="{{ item.Product.product_image.url }}" alt="" width="80" height="80"></td>
                        <td><p>{{ item.Product.name }}</p></td>
                        <td>{{item.product_qty}}</td>
                        <td>{{item.total}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>Total Amount</td>
                        <td>:</td>
                        <td class="text-success fw-bold text-decoration-underline">{{total_cost}} /-</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="container">
                <p class="display-6 fw-bold text-center">PAYMENT MODE</p>
                    <input type="hidden" id="payment_mode" name="payment_mode" value=""> 
                 
                   <input type="hidden" id="razorpay_payment_id" name="razorpay_payment_id" value="">
                   <input type="hidden" id="razorpay_order_id" name="razorpay_order_id" value="">
                   <input type="hidden" id="razorpay_signature" name="razorpay_signature" value="">
                   <div class=" float-end">
                <button id="rzp-button1" type="submit" class="btn btn-success fw-bold ">Pay with Razorpay</button>
                <br>
                <p class="text-center">OR</p>
                <button id="cod_button" class="btn btn-warning fw-bold text-center">Cash on delivery</button>
            </div>
            </form>
            </div>
          </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var total_price="{{total_cost}}";
    var amount_in_paise =total_price*100;
    var options = {
        "key": "rzp_test_4Hjkyweq2IDJ6O",
        "amount":amount_in_paise,
        "currency": "INR",
        "name": "TrumpKart",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "", 
        "handler": function (response){
            document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
            document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
            document.getElementById('razorpay_signature').value = response.razorpay_signature;
            document.getElementById('payment_mode').value = "Razorpay"
            document.getElementById('checkout-form').submit();
        },
        "prefill": {
            "name": "Kishore",
            "email": "kishoor121@gmail.com",
            "contact": "8220557366"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);

    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    document.getElementById('cod_button').onclick = function(e){
        document.getElementById('payment_mode').value = "COD";
        document.getElementById('checkout-form').submit()
    }
</script>
{% endblock scripts %}