{% extends 'Shop/layouts/main.html' %}
{% load static %}
{% block title %}
Invoice | Ecom
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="text-center text-secondary fw-bold">Invoice</h2>

    <div class="row justify-content-center mt-4">
        
        <div class=" col-10 col-sm-10 col-md-6 col-lg-6">
            <h4 class="text-secondary text">Order Details</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Order ID</th>
                    <td>{{ order.razorpay_order_id }}</td>
                </tr>
                <tr>
                    <th>Order Date</th>
                    <td>{{ order.created_at }}</td>
                </tr>
                <tr>
                    <th>Customer Name</th>
                    <td>{{ order.address.name }}</td>
                </tr>
                <tr>
                    <th>Total Amount</th>
                    <td>₹{{ order.total_cost }}</td>
                </tr>
                <tr>
                    <th>Sold By</th>
                    <td>
                        {% for item in order.order_items.all %}
                        {{item.Product.vendor }}
                        {% endfor %}
                    
                    </td>



                </tr>
                <tr>
                    <th>Products</th>
                    <td>
                        {% for item in order.order_items.all %}
                            {{ item.Product.name }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

        
        <div class=" col-10 col-sm-10 col-md-6 col-lg-6">
            <h4 class="text-secondary text-center">Shipping Address</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <td>{{ order.address.name }}</td>
                </tr>
                <tr>
                    <th>House/Area</th>
                    <td>{{ order.address.house }}, {{ order.address.area }}</td>
                </tr>
                <tr>
                    <th>City/State</th>
                    <td>{{ order.address.city }}, {{ order.address.state }}</td>
                </tr>
                <tr>
                    <th>Country/Zipcode</th>
                    <td>{{ order.address.country }}, {{ order.address.zipcode }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ order.address.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ order.address.email }}</td>
                </tr>
            </table>
        </div>
    </div>
    
    
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-8 text-center">
            <a href="{% url 'pdf' order.id %}" class="btn btn-primary">Download Invoice as PDF</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
