{% extends 'Shop/layouts/main.html' %}

{% block title %}
   Register|Ecom
{% endblock title %}

{% block content %}

<h1 class="bg-secondary text-center text-light fw-bold">Check your Products..</h1>
<h2 class="text-secondary text-center fw-bold ">Related category</h2>
<div class="container bg-light">
    {% if categories %}
  
     
        <div class="container ">
            <div class="row my-2">
                {% for item in categories %}
                    <div class=" col-6 col-sm-6 col-md-4 col-lg-4 my-4">
                        <div class="card w-100 h-100 text-center">
                            <a href="{% url 'collection' item.name %}" class="link">
                                <img src="{{item.image.url}}" class="card-img-top mx-auto" style="margin:auto" alt="..." >
                                <div class="card-body" style="text-decoration: none;">
                                    <h6 class="card-title">{{item.name}}</h6> 
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
       <p class="text-secondary">No such category</p>
  
    {% endif %}
</div>

<h2 class="text-secondary text-center fw-bold ">Related Products</h2>
  
<div class="container bg-light my-2">
    {% if products %}
    
        <div class="container my-2">
            <div class="row my-2">
                {% for item in products %}
                    <div class=" col-6 col-sm-6 col-md-3 col-lg-3 my-3">
                        <div class="card w-75 mx-auto">
                            <a href="{% url 'collectiondetails' item.category.name item.name %}" class="link">
                                <img src="{{item.product_image.url}}" class="card-img-top w-100" style="margin:auto" alt="..." >
                                    <div class="card-body" style="text-decoration: none;">
                                         <h6 class="card-title">{{item.name}}</h6> 
                                         <p class="card-text text-center"><span>RS. </span><s style="color: red;">{{item.original_price}}</s>  | {{item.selling_price}} </p> 
                                    </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% else %}
        <p class="text-dark">No such products</p>
    {% endif %}
</div>
{% endblock content %}

