*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: auto;
  scroll-behavior: smooth;
}
body{
  font-size: 1rem;
  padding: 0%;
  margin: 0%;
}
body.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.brandname{
   width: 8vw;
   filter: brightness(200%);
  
}
.iconname{
  font-size: 2vw;
  font-weight: 700;
}

.login{
  background-color: transparent;
}
.login:hover{
  background-color: white ;
  opacity: 0.9;
  border-radius: 1vw;
  transition-duration: 0.7s;
}
.register{
  background-color: transparent;
}
.register:hover{
  opacity: 0.9;
  border-radius: 1vw;
  background-color: white ;
  transition-duration: 0.7s;
}

.d-button{
  font-size: 1vw;
}

div.collapse{
  font-size: 1vw;
}
.details{
  font-size: 1vw;
}


h1{
  font-family: serif;
  font-size: 40px;
  color: rgb(4, 9, 90) !important;
  
}
h3{
  font-size: 25px;
  color: white;
}

nav.navbar-expand-lg{
  background-color: rgb(4, 9, 90);

}
.brand-image{
  width:25px;
}
.navbar-nav {
  float: auto;
}

.nav-link{
  font-size: 1vw;
  margin: 0px;
  padding: 0%;
  border: none;
  border-radius: 1vw;
}
.menu-list{
  background-color: aliceblue;
  position: sticky;
  height: 92vh;
  left: 0%;
  top: 8vh;
  overflow-y: auto;

}

.nav-link:hover{
  background-color: white;
  color: blue !important; 
  
}
.cltn-image{
  width: 60vw;
  height: auto;
}

.form-control{
  font-size: 18px;
}
.carousel-item img{
    overflow: hidden;
    object-position:top;
    object-fit: cover;
    
}
.caro-image{
  height: auto;
}
.h2{
  font-size: 1.8vw;
}
p{
    color: black;
    font-size: 1vw;
}

.li{
  font-weight: 700;
  font-size: 1vw;
}

a{
  text-decoration: none;
}

.alert-dismissible {
  position: absolute;
  right: 0%;
}

.hot{
  background-color:orangered;
  border-top-right-radius: 4px;
  color: white;
  display: inline;
  font-weight: 700;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50px;
  z-index: 1;
  text-shadow: 1px 1px 3px black;
}

img.card-img-top{ 
    object-position: center;
    object-fit: cover;
    height: fit-content; 
}
nav.navbar{
  top: 0%;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.navigate{
    text-decoration: none;
}

h6{ 
    text-align: center;  
}

span{
    color: black;
    font-weight: 700;
}

.card-text {
    color: rgb(8, 198, 8);
    font-size: 1vw;   
 }

  .footer ul {
    list-style: none;
  }
  
  h4{
    font-size: 18px;
  }

  ul li{
    font-size: 15px;
  }

  .copy{
    font-size: 15px;
    margin-bottom: 0px;
  }

  .footer ul li a {
    color:white;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    color: aqua;
  }
 
  footer.footer ul.social-media li a {
    color: #fff;
    font-size: 1.2vw;
  }
  
  .footer ul.social-media li a:hover {
    filter: brightness(120%);
  }
  .card{
    box-shadow: 1px 1px 4px rgb(238, 233, 233);
    padding-bottom: 2px;
  }
  .card-img-top{
    margin-top: 5px;
    max-height: 300px;
  }
  
  h6.card-title{
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
   
  }
  p.card-text{
    font-size: 0.8vw;
    font-weight: 600;
  }
  th{
    font-size: 1rem;
    text-align: center;
  }
  td{
    font-size: 1rem;
    text-align: center;
  }
  td img{
    width: 100px;
   }
   table{
    max-width: 100vw;
   }
   button.delete{
    font-size: 1vw;
   }
   button.buy{
    font-size: 1vw;
   }
   .fa-trash{
    font-size: 1.5vw;
  }
   .fa-shopping-cart{
    font-size: 1vw;
   }
   .collapse{
    background-color:transparent;
   
  }
   .input-group{
    width:25vw;
   }
   .card{
    position: relative;
   }
   
   .card-img-top{
    height: auto;
    width: 100%;
    padding: 10px;
    object-fit: contain;
   }
   .card:hover .card-img-top{
    filter: brightness(110%);
    transition: 0.5s;
    padding: 0px;

   }
   .input-group{
    margin-left: 50px;
    width: 25vw;
   }
   .cart-image{
    margin: 0px;
    display: inline;
   }
   .fa-trash{
    font-size: 1vw;
   }
   .fa-hand-holding{
    font-size: 1vw;
   }
   .sidetitle{
    font-weight:800;
    font-size: 1vw;
    text-decoration: underline;
   }
   .side-icon{
    font-size: 1vw;
   }
   .sidebar{
    font-family: serif;
    font-size: 1vw;
    color: black;
    
   }
   .sidebar:hover{
    color: blue;
    
   }
            /*media query @max-width:1200px*/
            
  @media screen and (max-width:1200px) {
    .nav-link{
      font-size: 1vw;
      padding-bottom: 5px;
    }
    .cltn-image{
      width: 80vw;   
    }
    .brandname{
      width: 10vw;
   }
   .sidetitle{
    font-size: 1.8vw;
   }
  .sidebar{
    font-size: 1.4vw;
   }
   .cart-image{
     width: 100px;
   }
    h1{
      font-family: serif;
      font-size: 24px;
    }
    h3{
      font-size: 19px;
    }

    .form-control{
      font-size: 13px;
    }

    .input-group{
      margin-left: 0%;
      width:25vw;
    }
    
    .card-body{
      padding:0% !important;
      margin: 0% !important;   
    }
   
    h6.card-title{
      font-size: 11px;
      font-weight: 500;
      margin: 0%;
    }

    p.card-text{
      font-size: 9px;
      font-weight: 500;
    }

    i.fa-brands{
      font-size: 0.9rem;
    }

    th{
      font-size: 0.9vw;
      text-align: center;
    }
    td{
      font-size: 0.5rem;
      font-weight: 700;
      
     
    } 
    td img{
      width: 50px;
    }
    button.delete{
      font-size: 1.8vw;
     }
     h4{
      font-size: 16px;
    }
    ul li{
      padding-bottom: 3px;
      font-size: 12px;
    }
    .copy{
      font-size: 12px;
     
    }
    button.buy{
      font-size: 2vw;
     }
     .li{
      font-size: 1.3vw;
    }
     
  }

            /*media query @max-width:992px*/

  @media screen and (max-width:992px) {

    

    .menu-list{
      
      position: sticky;
      max-height: 90vh;
      left: 0%;
      top: 11px;
      overflow-y: auto;
    
    }
    .fa-trash{
      font-size: 1.8vw;
    }

    .nav-link{
      font-size: 2.5vw;
      padding-bottom: 5px;
    }
     
    .cltn-image{
      max-width: 90vw;
      height: auto;
    }
    .brandname{
      width: 15vw;
   }
   .sidetitle{
    font-size: 2.2vw;
   }

    .sidebar{
      font-size: 1.6vw;
     } 
    .cart-image{
      width: 80px;
    }

    h1{
      font-family: serif;
      font-size: 25px;
    }
    h3{
      font-size: 20px;
    }
    .form-control{
      font-size: 14px;
    }
    .input-group{
      margin-left: 0%;
      width: 50vw;
    }
    
    .card-body{
      padding:0% !important;
      margin: 0% !important;   
    }
   
    h6.card-title{
      font-size: 12px;
      font-weight: 600;
      margin: 0%;
    }
    p.card-text{
      font-size: 11px;
      font-weight: 500;
    }
    i.fa-brands{
      font-size: 1rem;
    }
    table.table{
      max-width: 100vw;
    }

    th{
      font-size: 0.9rem;
      text-align: center;
    }
    td{
      font-size: 0.6rem;
      font-weight: 700;
       
    } 
    td img{
      width: 50px;
    }
    button.delete{
      font-size: 2vw;
     }
     h4{
      font-size: 16px;
    }
    ul li{
      padding-bottom: 4px;
      font-size: 13px;
    }
    .copy{
      font-size: 13px;
     
    } button.buy{
      font-size: 2vw;
     }
     .li{
      font-size: 1.6vw;
    }
    .caro-image{
      height: 200px;
    }
  }
              /*media query @max-width:576px*/
  @media screen and (max-width:576px) {

    .fa-shopping-cart{
      font-size: 0px;
    }
    .fa-trash{
      font-size: 3vw;
    }

    .side-icon{
      font-size: 0vw;
      position: absolute;
     }

  .h2{
      font-size: 4vw;
    }
  p{
     
      font-size: 2.5vw;
  }
  li{
    font-size: 2.5vw;
  }
    .d-button{
      font-size: 2.4vw;
    }
    
    div.collapse{
      font-size: 2.4vw;
    }
    .details{
      font-size: 2.8vw;
    }

    .hot{
      
      font-weight: 500;
      font-size: 10px;
      width: 30px;
  
    }
    .caro-image{
      height: 100px;
    }

    .sidetitle{
      
      font-size: 2.6vw;
      font-weight: 900 !important;
     }

    .sidebar{
      
      font-size: 2.7vw;
     
     } 
     .cltn-image{
      max-width: 100vw;
     }
    .cart-image{
      width: 50px;
      margin-left: 0%;
    }
    h1{
      font-family: serif;
      font-size: 22px;
    }
    h3{
      font-size: 16px;
    }
    .form-control{
      font-size: 10px;
    }
   
    
    h6.card-title{
      font-size: 2.7vw ;
      letter-spacing: 0.5px;
      font-weight: 500; 
      
    }
    p.card-text{
      font-size: 2.2vw;
      letter-spacing: 0.5px;
      font-weight: 700;
    }
    i.fa-brands{
      font-size: 1rem;
    }
    table.table{
      max-width: 100vw;
    }
    th{
      font-size: 2.4vw;
      text-align: center;
    }
    td>img{
      width: 10px;
    }
    button.delete{
      font-size: 2vw;
     }
     .input-group{
      margin-left: 0px;
      width: 50vw;
     }
     h4{
      font-size: 14px;
    }
    ul li{
      padding-bottom: 2px;
      font-size: 11px;
    }
    .copy{
      font-size: 2.5vw;
     
    }
   
     .fa-hand-holding{
      font-size: 2vw;
     }
     button.buy{
      font-size: 2vw;
     }
    
    .nav-link{
      font-size: 4vw;
      margin-bottom: 5px;
      
      
    }
    .brand-image{
      width:18px;
    }
    .brandname{
      width: 22vw;
     
   }
   .li{
    font-size: 2.5vw;
  }
 
    }

 
  
 

  
  

